PPA_DB_NAME=ppa
PPA_DB_USER=odoo
PPA_DB_PASSWORD=change-me
PPA_ODOO_MASTER_PASSWORD=change-me
PPA_API_KEY=change-me
PPA_ODOO_PORT=42001
PPA_POSTGRES_PORT=42005
PPA_N8N_PORT=42010
N8N_USER=admin
N8N_PASSWORD=change-me
PPA_AI_PROVIDER=fake
PPA_OPENAI_API_KEY=
PPA_OPENAI_MODEL=
PPA_AI_TIMEOUT_SECONDS=60
